.iteams {
  display: inline-block;
  height: 200px;
  width: 300px;
  background-color: #444;
  border-radius: 5px;
  cursor: context-menu;
  margin:15px 40px;
  box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
}
.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fas {
  font-size: 40px;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_ser {
  color: #fff;
  margin: 5px 0px;
  font-size: 25px;
  letter-spacing: 1px;
}

.des_ser {
  color: #d2d2d2;
  font-size: 16px;
  letter-spacing: 2px;
}